# 服务器连接信息（必填）
DEPLOY_HOST=1.2.3.4
DEPLOY_USER=ubuntu
DEPLOY_SSH_PORT=22

# 二选一：密钥 or 密码
# DEPLOY_KEY=~/.ssh/id_rsa
# DEPLOY_PASSWORD=your_ssh_password

# 部署参数
REMOTE_DIR=/apps/jf
APP_NAME=jf-server
APP_PORT=9090
COPY_ENV=1

# 首次初始化脚本参数
NODE_MAJOR=20
